<% layout("./boilerPlate/base.ejs") %>

<div class="url d-flex justify-content-center">
    <form method="POST" action="/url">
        <label for="url" class="org-url">Enter your Original URL</label>
        <input class="in-class" type="text" id="url" name="url" placeholder="&#128279; Enter URL" required>
        <button type="submit" class="btn-generate">Generate</button>
    </form>
   
</div>
<% if (id) { %>
    <div class="d-flex justify-content-center"">
    <p class="generate-url"> URL Generated : <a href="https://url-ixun.onrender.com/url/<%=id%>" target="_blank">https://url-ixun.onrender.com/url/<%=id %></a> </p>
</div>
<% } else{ %>
<div class="d-flex justify-content-center" style="margin-top: 1rem;">
    <table  class="table table-bordered">
        <thead style="font-weight: 600; background:linear-gradient(45deg,#c2c7cf,lightgreen);">
            <th>Sr No.</th>
            <th>Short Url</th>
            <th>Redirect Url</th>
            <th>Clicks</th>
        </thead>
        <tbody>
            <% if(urls && urls.length > 0) { %>
                <% urls.forEach((url,index) => {%>      
                    <tr>
                    <td><%= index+1 %></td>
                    <td><a href="https://url-ixun.onrender.com/url/<%= url.shortId %>">https://url-ixun.onrender.com/url/<%= url.shortId %></a></td>
                    <td><%= url.redirectURL %></td>
                    <td><%= url.visitHistory.length %></td>
                </tr>
                <%})%>
            <% } else { %>
                <tr>
                    <td colspan="4">No URLs found.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } %>